<ion-card>
  <div class="imagem-area">
    <span class="numero">#{{ pokemon.id }}</span>
    <img [src]="pokemon.imagem" [alt]="pokemon.nome" />
  </div>

  <ion-card-header>
    <ion-card-title>{{ pokemon.nome | titlecase }}</ion-card-title>

    <ion-card-subtitle>
      <span class="tipo">{{ pokemon.tipo | titlecase }}</span>
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-button expand="block" (click)="favoritar.emit(pokemon)">
      Adicionar aos favoritos
    </ion-button>
  </ion-card-content>
</ion-card>