<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        Voltar
      </ion-button>
    </ion-buttons>

    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="topo">
    <h1>Minhas cartas</h1>
    <p>Veja seus Pokémon favoritos em formato de carta.</p>
  </section>

  <main class="conteudo">
    <div class="vazio" *ngIf="favoritos.length === 0">
      <div class="icone">♡</div>

      <h2>Nenhum favorito ainda</h2>

      <p>
        Volte para a Pokédex e escolha seus Pokémon favoritos.
      </p>
    </div>

    <section
      class="area-carta"
      *ngIf="favoritos.length > 0 && favoritoAtual"
      (touchstart)="iniciarArraste($event)"
      (touchend)="finalizarArraste($event)">

      <button
        class="botao-lateral botao-esquerda"
        type="button"
        (click)="cartaAnterior()"
        [disabled]="indiceAtual === 0">
        &lt;
      </button>

      <article class="carta">
        <div class="carta-topo">
          <div>
            <span class="basico">BÁSICO</span>
            <h2>{{ favoritoAtual.nome | titlecase }}</h2>
          </div>

          <strong>
            HP {{ favoritoAtual.hp || 0 }}
          </strong>
        </div>

        <div class="imagem-area">
          <img [src]="favoritoAtual.imagem" [alt]="favoritoAtual.nome" />
        </div>

        <div class="tipo-area">
          <span>{{ favoritoAtual.tipo | titlecase }}</span>
        </div>

        <div class="golpe">
          <div>
            <h3>Ataque</h3>
            <p>Força de ataque baseada nos atributos do Pokémon.</p>
          </div>

          <strong>{{ favoritoAtual.ataque || 0 }}</strong>
        </div>

        <div class="atributos">
          <div>
            <small>DEF</small>
            <strong>{{ favoritoAtual.defesa || 0 }}</strong>
          </div>

          <div>
            <small>VEL</small>
            <strong>{{ favoritoAtual.velocidade || 0 }}</strong>
          </div>

          <div>
            <small>PODER</small>
            <strong>{{ favoritoAtual.poder || 0 }}</strong>
          </div>
        </div>

        <div class="rodape-carta">
          <span>{{ indiceAtual + 1 }} / {{ favoritos.length }}</span>
          <span>{{ favoritoAtual.tipo | titlecase }}</span>
        </div>

        <ion-button
          expand="block"
          color="danger"
          fill="outline"
          (click)="remover(favoritoAtual)">
          Remover carta
        </ion-button>
      </article>

      <button
        class="botao-lateral botao-direita"
        type="button"
        (click)="proximaCarta()"
        [disabled]="indiceAtual === favoritos.length - 1">
        &gt;
      </button>
    </section>
  </main>
</ion-content>