<ion-header>
  <ion-toolbar>
    <ion-title>Pokédex</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/favoritos">
        Favoritos
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="hero">
    <div>
      <p class="tag">API REST + Firebase</p>
      <h1>Escolha seus Pokémon favoritos</h1>
      <p class="descricao">
        Explore a Pokédex, favorite seus Pokémon e gerencie tudo pelo Firebase.
      </p>
    </div>

    <div class="pokebola">
      <div class="linha"></div>
      <div class="centro"></div>
    </div>
  </section>

  <div class="busca-area">
    <ion-searchbar
      placeholder="Buscar por nome, tipo ou nº"
      [(ngModel)]="termoBusca"
      (ionInput)="filtrarPokemons()">
    </ion-searchbar>
  </div>

  <main class="conteudo">
    <p class="mensagem" *ngIf="mensagem">
      {{ mensagem }}
    </p>

    <ion-spinner *ngIf="carregando"></ion-spinner>

    <div class="grid">
      <app-pokemon-card
        *ngFor="let pokemon of pokemonsFiltrados"
        [pokemon]="pokemon"
        (favoritar)="adicionarFavorito($event)">
      </app-pokemon-card>
    </div>
  </main>
</ion-content>