<ion-header>
  <ion-toolbar>
    <ion-title>Pokédex</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/favoritos">
        Favoritos
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p class="descricao">
    Lista de pokémons consumida de uma API RESTful.
  </p>

  <ion-spinner *ngIf="carregando"></ion-spinner>

  <p class="mensagem" *ngIf="mensagem">
    {{ mensagem }}
  </p>

  <app-pokemon-card
    *ngFor="let pokemon of pokemons"
    [pokemon]="pokemon"
    (favoritar)="adicionarFavorito($event)">
  </app-pokemon-card>
</ion-content>